.footer{
  background: rgb(61, 49, 49);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  color: #ffffff;
}

.footer .contacto{

}

.footer .informacion{

}

.footer .mensaje{
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
  justify-content: ;
}

.footer .mensaje img{
  width: 75px;
}