.navbar {
  text-align: center;
  color: #3B95C4;
  font-weight: 500;
  background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
  font-size: 20px;
  color: #3B95C4 !important;
}

.navbar-light .navbar-toggler {
  border: 2px solid #025157;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.proyectos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
  justify-content: space-evenly;
  justify-items: center;
  align-self: space-evenly;
  margin-bottom: 20px;
}

.card-body{
  text-align: center;
  background: #3B95C4;
  color: #ffffff;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.footer{
  background: rgb(61, 49, 49);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  color: #ffffff;
}

.footer .contacto{

}

.footer .informacion{

}

.footer .mensaje{
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
  justify-content: ;
}

.footer .mensaje img{
  width: 75px;
}