.navbar {
  text-align: center;
  color: #3B95C4;
  font-weight: 500;
  background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
  font-size: 20px;
  color: #3B95C4;
}

.navbar-light .nav-item .nav-link:hover{
  color:#ffffff;
}

.navbar-light .navbar-toggler {
  border: 2px solid #025157;
  background: #3b95c4;
}

.navbar-light .navbar-toggler:hover{
  background: #477bf3;
  border: 1px solid #3FCDFA;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.titulo h2{
  color: #0d7077;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.servicios{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  justify-items: center;
  padding-bottom: 30px;
}

.card-title{
  color: rgb(8, 105, 251) ;
}

.card-text{
  color: rgb(5, 56, 56);
}

.footer{
  background: rgb(31, 30, 30);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  color: #ffffff;
}

.footer .mensaje{
  font-size: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}

.footer .mensaje img{
  width: 75px;
}

@media (max-width: 425px){
  .titulo{
    align-self:center;
  }

  .servicios{
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer .mensaje img{
    width: 35px;
  }

}

@media (min-width: 426px) and (max-width: 1024px) {
  .servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer .mensaje img{
    width: 50px;
  }
}